<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <link rel="stylesheet" href="../static/styles.css" />
  <body>
    <header>
      <span>
        <h1 class="main-title">Cat Tracer</h1>
      </span>
      <span>
        <h1>Dashboard</h1>
      </span>
      <nav>
        <ul>
          <li><a href="/" style="color: white">Home</a></li>
          <li><a href="/dashboard" style="color: white">Dashboard</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <img src="/plot.png" alt="Plot" />
      </div>
    </main>
  </body>
</html>
